/*
https://www.materialui.co/colors
https://material.io/color/#!/?view.left=0&view.right=0&primary.color=1775d1&secondary.color=FB8C00&primary.text.color=ffffff
 */

body {
    background: #EEEEEE;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

header {
    background: #1775d1;
    width: 100vw;
    height: 10vh;
}

h1 {
    line-height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    display: grid;
    margin: 2.5vh auto;
    height: 85vh;
    width: 95vw;
}

.login main {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    grid-auto-rows: 42.5vh;
    grid-template-areas:
        ". a a a a ."
        ". a a a a .";
}

.login form {
    align-self: center;
    background-color: #1775d1;
    grid-area: a;
    justify-self: center;
    padding: 2vmin;
}

.login form>button,
.login form>input,
.login form>label {
    border: none;
    box-sizing: border-box;
    font-size: calc(16px + 1vmin);
    margin: 1vmin 0;
    padding: 0;
    height: 10vmin;
    width: 100%;
}

.login form>button {
    background: #fb8c00;
    color: #212121;
}