/*
https://www.materialui.co/colors
 */

body {
    background: #EEEEEE;
    color: #424242;
    font-family: Verdana, Geneva, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

header {
    background: #FAFAFA;
    width: 100vw;
    height: 10vh;
}

h1 {
    line-height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
}