/*
https://www.materialui.co/colors
https://material.io/color/#!/?view.left=0&view.right=0&primary.color=1775d1&secondary.color=FB8C00&primary.text.color=ffffff
 */

body {
    background: #EEEEEE;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: calc(9px + 1vmin);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

header {
    background: #1775d1;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 10vh;
}

h1 {
    line-height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    display: grid;
    margin: 2.5vh auto;
    height: 85vh;
    width: 95vw;
}

button {
    background: rgba(0, 0, 127, 0.2);
    border: none;
    box-sizing: border-box;
    font-size: calc(1em + 1vmin);
    height: 10vmin;
    margin: 1vmin 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
}

button:hover {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: rgba(0, 0, 127, 0.25);
}

button:active, button:focus {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: rgba(0, 0, 127, 0.25);
    transform: translate(0px, 1vmin);
}

/*
LOGIN PAGE
 */

.login main {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    grid-auto-rows: 42.5vh;
    grid-template-areas:
        ". a a a a ."
        ". a a a a .";
}

.login form {
    align-self: center;
    background-color: #1775d1;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    grid-area: a;
    justify-self: center;
    padding: 3vmin 4vmin;
}

.login form>button,
.login form>input,
.login form>label {
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: calc(16px + 1vmin);
    margin: 1vmin 0;
    padding: 0;
    height: 10vmin;
    width: 100%;
}

/*
START PAGE
 */

.start main {
    grid-template-columns: 1fr;
    grid-gap: 0px;
}

.start .buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vmin;
}

.start .buttons button {
    box-sizing: border-box;
    padding: 0 1vmin;
}

.start .graph-wrapper {
    height: 70vh;
}