/*
https://www.materialui.co/colors
https://material.io/color/#!/?view.left=0&view.right=0&primary.color=1775d1&secondary.color=FB8C00&primary.text.color=ffffff
 */

body {
    background: #EEEEEE;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: calc(9px + 1vmin);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

header {
    background: #1775d1;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 10vh;
}

h1 {
    line-height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    display: grid;
    margin: 2.5vh auto;
    height: 85vh;
    width: 95vw;
}

button {
    background: rgba(0, 0, 127, 0.2);
    border: none;
    box-sizing: border-box;
    font-size: calc(1em + 1vmin);
    height: 10vmin;
    margin: 1vmin 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
}

button:hover {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: rgba(0, 0, 127, 0.25);
}

button:active, button:focus {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: rgba(0, 0, 127, 0.25);
    transform: translate(0px, 1vmin);
}

button.fab {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
    background: #c51162;
    position: fixed;
    color: #fff;
    bottom: 4vh;
    right: 2vw;
    height: calc(16px + 6vmin);
    width: calc(16px + 6vmin);
    border-radius: 100%;
    z-index: 12;
}

form>button,
form>input,
form>label {
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: calc(16px + 1vmin);
    margin: 1vmin 0;
    padding: 0;
    height: 10vmin;
    width: 100%;
}

form>input {
    color: #2a2a2a;
}

form {
    background-color: #1775d1;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 3vmin 4vmin;
}


/*
LOGIN PAGE
 */

.login main {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    grid-auto-rows: 42.5vh;
    grid-template-areas:
        ". a a a a ."
        ". a a a a .";
}

.login form {
    align-self: center;
    grid-area: a;
    justify-self: center;
}

/*
START PAGE
 */

.start main {
    grid-template-columns: 1fr;
    grid-gap: 0px;
}

.start .buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vmin;
}

.start .buttons button {
    box-sizing: border-box;
    padding: 0 1vmin;
}

.start .graph-wrapper {
    height: 70vh;
}


/*
ABSTIMMUNG PAGE
 */

.abstimmung main {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    grid-auto-rows: 42.5vh;
    grid-template-areas:
        ". a a a a ."
        ". a a a a .";
}

.abstimmung form {
    align-self: center;
    grid-area: a;
    justify-self: center;
}

.abstimmung fieldset {
    border: none;
}


/*
NOTIFICATION
 */

.notification {
    position: fixed;
    background-color: #8e0038;
    width: 100vw;
    text-align: center;
    padding: 3vh 0;
    box-shadow: 0 0 2vh 0 rgba(0, 0, 0, 0.6);
}

.notification a {
    color: #fff;
}


/*
POPUP
 */

.popup-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.popup {
    background: #1775d1;
    width: 80vw;
    height: 70vh;
    margin: 15vh auto;
    padding: 2vmin;
    box-sizing: border-box;
    overflow-y: scroll;
}


/******************************
COLORS
 ******************************/

.blue1 {
    background-color: rgba(92, 107, 192, 1);
    color: #fff;
}

.blue1:hover {
    background-color: rgba(92, 107, 192, 0.6);
}

.blue2 {
    background-color: rgba(121, 134, 203, 1);
    color: #fff;
}

.blue2:hover {
    background-color: rgba(121, 134, 203, 0.6);
}

.red1 {
    background-color: rgba(239, 83, 80, 1);
    color: #fff;
}

.red1:hover {
    background-color: rgba(239, 83, 80, 0.6);
}

.red2 {
    background-color: rgba(229, 115, 115, 1);
    color: #fff;
}

.red2:hover {
    background-color: rgba(229, 115, 115, 0.6);
}

.green1 {
    background-color: rgba(102, 187, 106, 1);
    color: #fff;
}

.green1:hover {
    background-color: rgba(102, 187, 106, 0.6);
}

.green2 {
    background-color: rgba(129, 199, 132, 1);
    color: #fff;
}

.green2:hover {
    background-color: rgba(129, 199, 132, 0.6);
}